html {
	height: 100%;
	width: 100%;
	margin: 0px;
	padding: 0px;
}

body {
	height: 100%;
	width: 100%;
	margin: 0px;
	padding: 0px;  
  overflow: hidden;
}

.say-cheese {
  clear: both;
}

#say-cheese-container, #picturediv {
  margin: 0px auto;
  max-width: 1000px;
  max-height: 480px;
  position: relative;
  padding-right: 240px;
  padding-top: 30px;
}

#action-buttons {
  position: absolute;
  bottom: 5px;
  right: 5px;
  z-index: 5;
  display: none;
}

#button-actions button {
   cursor: pointer;
}

#say-cheese-container video {
  box-shadow: 0px 0px 8px 1px #222;
  width: 460px;
}


#say-cheese-snapshots {

  width: 5000px;  
  
}

#say-cheese-snapshots img {
	height: 80%;
	background-color: white;
	margin: 0px;
	display: inline-block;
	float: left;
	padding: 0.15%;
	margin: 0.2%;
	border: 1px solid #EEE;
	box-shadow: 0px 0px 4px 0px gray;
}

#scroll{
  width: 100%;
  overflow-x: scroll;
  overflow-y: hidden;
  padding: 0px;
  margin-left: 0px;
  background-color: #FFEFEF;
  border-top: 1px solid #777;
  border-bottom: 1px solid #777;
  height: 100%;
  -webkit-box-shadow: inset 0 0 5px#888;
}

.rightmenu {
  width: 250px;
  background-color: #333;
  float: right;
  height: 450px;
  margin: 0px;
  padding: 0px;
  margin-right: 0px;
  margin-left: 0px;
  height: 70%;
  position: fixed;
  top: 0px;
  right: 0px;
  border-left: 1px solid #222;
  -webkit-box-shadow: -2px -2px 1px #333;
}

#logo {
  color: #EEE;
  margin: 0px;
  font-family: "helvetica neue";
}

#logo img {  
  margin-right: 10px;
  width: 40px;
  vertical-align: top
}

.snapbutton {
  display: block;
  background-color: rgba(0,0,0,0.5);
  color: #a7a7a7;
  margin: 36px;
  width: 100px;
  height: 100px;
  position: relative;
  text-align: center;
  line-height: 144px;
  border-radius: 50%;
  border: 0px;
  top: 10px;
  right: 215px;
}

.snapbutton:hover {  
  background-color: rgba(0,0,0,0.8);
}

.container-fluid {
  padding-left: 0px;
  padding-right: 0px;
}

.bot {
  box-shadow: 0px 0px 8px 1px gray;  
  background-color: #333;
}

#one, #two {
  display: block;
}

#one { 
  height: 70%; 
  background-color: #040;
  background: url(http://subtlepatterns.subtlepatterns.netdna-cdn.com/patterns/low_contrast_linen.png)
}
#two { 
  height: 24%;
  background-color: #004;
  -webkit-box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.1);
  background: -webkit-gradient(linear, left top, left bottom, from(#DEDFE0), to(#CACACA));
  border-top: 1px solid #444;
  padding-top: 1%;
  padding-bottom: 4%;
}

.dark-bar {
  background: #4a4a4a; /* Old browsers */
  background: -moz-linear-gradient(top, #4a4a4a 0%, #636363 3%, #636363 6%, #5a5a5a 34%, #484848 74%, #404040 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4a4a4a), color-stop(3%,#636363), color-stop(6%,#636363), color-stop(34%,#5a5a5a), color-stop(74%,#484848), color-stop(100%,#404040)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #4a4a4a 0%,#636363 3%,#636363 6%,#5a5a5a 34%,#484848 74%,#404040 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #4a4a4a 0%,#636363 3%,#636363 6%,#5a5a5a 34%,#484848 74%,#404040 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #4a4a4a 0%,#636363 3%,#636363 6%,#5a5a5a 34%,#484848 74%,#404040 100%); /* IE10+ */
  background: linear-gradient(to bottom, #4a4a4a 0%,#636363 3%,#636363 6%,#5a5a5a 34%,#484848 74%,#404040 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4a4a4a', endColorstr='#404040',GradientType=0 ); /* IE6-9 */  
}

/* button */
#password button:hover {
  background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.5));
  background-image: -moz-linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.5));
}

#password button {
  width: 200px;
  margin-top: 20px;
  height: 45px;
  font: bold 14px/45px HelveticaNeue, Helvetica, Arial;
  color: rgba(0, 0, 0, 0.75);
  text-shadow: rgba(255, 255, 255, 0.5) 0px 1px 0px;
  -webkit-box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2), 0px -1px 0px rgba(255, 255, 255, 0.3) inset;
  -moz-box-shadow: 0px 2px 5px rgba(0,0,0,0.2), 0px -1px 0px rgba(255,255,255,0.3) inset;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2), 0px -1px 0px rgba(255, 255, 255, 0.3) inset;
  padding: 0px;
  border-radius: 4px;
  border: 0px solid;
  background-image: -webkit-linear-gradient(transparent, rgba(0, 0, 0, 0.35));
  background-image: -moz-linear-gradient(transparent, rgba(0, 0, 0, 0.35));
  cursor: pointer;
}
button, span.button {
  padding-top: 14px;
  padding-bottom: 14px;
  padding-left: 20px;
  padding-right: 20px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  border: 1px solid rgba(0, 0, 0, 0.4);
  font: bold 14px HelveticaNeue, Helvetica, Arial, sans-serif;
  background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.2));
  background-image: -moz-linear-gradient(rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.2));
  -webkit-box-shadow: rgba(255, 255, 255, 0.7) 0px 1px 0px inset, white 0px 1px 0px;
  -moz-box-shadow: rgba(255,255,255,0.7) 0px 1px 0px inset, white 0px 1px 0px;
  box-shadow: rgba(255, 255, 255, 0.7) 0px 1px 0px inset, white 0px 1px 0px;
  background-color: #EEE;
  color: #333;
  text-shadow: white 0px 1px 0px;
  cursor: pointer;
  margin: 0px;
  margin-right: 2px;
  margin-bottom: 5px;
}

.avatar:hover {
  z-index: 10;
  -webkit-box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.8), 0px -1px 0px rgba(255, 255, 255, 0.5) inset;
  -moz-box-shadow: 0px 1px 4px rgba(0,0,0,0.8), 0px -1px 0px rgba(255,255,255,0.5) inset;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.8), 0px -1px 0px rgba(255, 255, 255, 0.5) inset;
  -webkit-transform: scale(1.12);
  -moz-transform: scale(1.12);
}
.avatar {
  height: 200px;
  width: 200px;
  background-size: auto 200px;
  background-position: center;
  -webkit-box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.6), 0px -1px 0px rgba(255, 255, 255, 0.5) inset;
  -moz-box-shadow: 0px 1px 4px rgba(0,0,0,0.6), 0px -1px 0px rgba(255,255,255,0.5) inset;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.6), 0px -1px 0px rgba(255, 255, 255, 0.5) inset;
  border-radius: 4px;
  display: block;
  -webkit-transition: -webkit-transform .2s ease-in-out;
  -moz-transition: -moz-transform .2s ease-in-out;
}
